<!DOCTYPE html>
<html ng-app="MenuCategoriesApp">
<head>
	<meta charset="utf-8">
	<script src="angular.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Using $http Service</title>
</head>
<body>
<h1>Using $http Service</h1>
<div ng-controller="MenuCategoriesController as menu">
	<h3>List of Menu Categories</h3>
	<ul>
		<li ng-repeat="item in menu.categories">
			<a href="" ng-click="menu.logMenuItems(item.short_name);">({{item.short_name}})</a>	
				{{item.name}}
		</li>
	</ul>
	
</div>
</body>
</html>