<!--
angular.module method takes 2 args to create a module:
	- Name of the module.
	- Array of string module name dependencies.

angular.module method with just name of module retrives the previously created module.
	- then, you can create declare components, controllers, etc.
module.config method fires before module.run method.
All depenency modules get configured first 
It does not matters which modules are listed first as long as module declarations are listed before artifact declarations on that module.
-->
<!DOCTYPE html>
<html ng-app="ShoppingList">
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Shopping List With Events</title>
</head>
<body>
	<h1>Shopping List With Events</h1>
	<!-- This is a parent controller-->
	<div id="list" ng-controller="ShoppingListController as list">
		
		<input type="text" ng-model="list.itemName" placeholder="item name">
		<input type="text" ng-model="list.itemQuantity" placeholder="item Quantity">
		<button ng-click="list.addItem();">Add Item</button>
		<shopping-list items="list.items" title="{{list.title}}" on-remove="list.removeItem(index)"></shopping-list>
	</div>

	<loading-spinner></loading-spinner>

	<!-- Libaries -->
	<script src="lib/jquery-3.1.1.js"></script>
	<script src="lib/angular.js"></script>

	<!-- Modules -->
	<script src="src/spinner/spinner.module.js"></script>
	<script src="src/shoppinglist/shoppinglist.module.js"></script>

	<!-- 'ShoppingList' module artifacts-->
	<!-- calling by name of the service and followed by artifacts (component, controller etc)-->
	<script src="src/shoppinglist/shoppinglist.component.js"></script>
	<script src="src/shoppinglist/shoppinglist.controller.js"></script>
	<script src="src/shoppinglist/shoppinglist.factory.js"></script>
	<script src="src/shoppinglist/weightlossfilter.service.js"></script>

	<!-- 'spinner' module artifacts-->
	<script src="src/spinner/loadingspinner.component.js"></script>


</body>
</html>